<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yeni Konferans Oluştur</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <style>
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      body {
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        font-family: "Roboto", sans-serif;
      }
      header {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f8f9fa;
        padding: 10px 0;
        margin-bottom: 20px;
        height: 2.25rem;
      }
      nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
      }
      nav ul li {
        display: inline;
        margin-right: 10px;
      }
      nav ul li a {
        text-decoration: none;
        color: #000;
        padding: 5px 10px;
        border-radius: 5px;
        background-color: #9747ff;
        color: white;
      }
      nav ul li a:hover {
        background-color: #542790;
      }
      .conference-form-wrapper {
        width: 25rem;
        height: 31.25rem;
        background-color: #f0f0f0;
        border: 1px solid gray;
        border-radius: 8px;
        padding: 1rem;
        margin: 3rem auto;
        color: gray;
      }

      .conference-form-wrapper form {
        padding: 0;
      }

      .conference-form-wrapper h1 {
        color: #9747ff;
        text-align: center;
      }

      .conference-form-wrapper input {
        margin: 0.75rem;
        display: block;
        width: 90%;
        outline: none;
        border: 1px solid #dee0ea;
        padding: 0.5rem 0.5rem 0.5rem 0.938rem;
      }

      .conference-form-wrapper input:focus {
        border-color: grey;
      }

      .conference-form-wrapper button {
        display: block;
        color: white;
        padding: 0.5rem;
        border-radius: 5px;
        margin: 3rem auto;
        background-color: #9747ff;
        border: none;
        cursor: pointer;
      }

      .conference-form-wrapper button:hover {
        background-color: #542790;
      }
    </style>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/tum_konferanslar">Tüm Konferanslar</a></li>
          <li>
            <a href="/katildigim_konferanslar">Katıldığım Konferanslar</a>
          </li>
          <li>
            <a href="/olusturdugum_konferanslar">Oluşturduğum Konferanslar</a>
          </li>
          <li><a href="/yazilarim">Yazılarım</a></li>
          <li><a href="#">İncelemelerim</a></li>
          <li><a href="/cikis" class="logout-button">Çıkış Yap</a></li>
        </ul>
      </nav>
    </header>
    <div class="conference-form-wrapper">
      <h1>Yeni Konferans Oluştur</h1>
      <form action="/conference/create" method="POST">
        <div>
          <label for="name">Konferans Adı:</label>
          <input type="text" id="name" name="name" required />
        </div>
        <div>
          <label for="address">Adres:</label>
          <input type="text" id="address" name="address" required />
        </div>
        <div>
          <label for="startDate">Başlangıç Tarihi:</label>
          <input type="date" id="startDate" name="startDate" required />
        </div>
        <div>
          <label for="endDate">Bitiş Tarihi:</label>
          <input type="date" id="endDate" name="endDate" required />
        </div>
        <div>
          <label for="attendeeLimit">Maksimum Katılımcı Limiti:</label>
          <select id="attendeeLimit" name="attendeeLimit" required>
            <% for (let i = 50; i <= 100; i++) { %>
            <option value="<%= i %>"><%= i %></option>
            <% } %>
          </select>
        </div>

        <input type="hidden" name="attendeeList" value="default" />
        <input type="hidden" name="creatorId" value="<%= user._id %>" />

        <button type="submit">Konferans Oluştur</button>
      </form>
    </div>
  </body>
</html>
